# Secrets and Credentials
.env
*.pem
*.key

# Local Database & Logs
db.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency Folders
node_modules/
dist/
build/

# Operating System Files
.DS_Store
Thumbs.db